<header>
    <img src="images/logo.svg" alt="">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/receitas">Receitas</a></li>
            <li><a href="/sugestao">Sugestões</a></li>
            <li><a href="/tiposDePrato">Tipos de prato</a></li>
            <li><a href="">Envie sua receita</a></li>
            <li><a href="">Login</a></li>
        </ul>
    </nav>
</header>