<header>
    <img src="images/logo.svg" alt="">
    <nav>
        <ul>
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/recipes">Receitas</a></li>
            <li><a href="/admin/categories/category">Tipos de prato</a></li>
            <li><a href="/sugestao">Sugestões</a></li>
        </ul>
    </nav>
</header>