<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="fundo">
    </div>
    <img class="background" src="/images/background.svg" alt="">
</body>
<%- include('partials/footer.ejs') %>
