* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}

html {
    --black: #000;
    --white: #fff;
    --details: #AD00FF;
}

body {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;

}

.fundo {
    width: 100vw;
    height: calc(100vh - 70px);
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 70px;
    z-index: 2;
}

.background {
    width: 100vw;
    height: calc(100vh - 70px);
    object-fit: cover;
}

.container {
    padding-block: 50px;
    margin: auto;
    width: 80%;
    color: var(--white);
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.container form input, select {
    width: 500px;
    border-radius: 8px;
    border: transparent;
    background-color: rgba(237, 237, 237, 0.35);
   
}
.container form input, select{
    height: 50px;

}

select{
    color: white;
    padding: 10px 20px;
}

option {
    color: #000;
}

.container form input {
    padding: 20px;
}

.container form button {
    padding: 10px 20px;
    border-radius: 8px;
    border: transparent;
    background-color: var(--details);
    color: var(--white);
}

.container form button:hover {
    background-color: #b20dff;
}

.container form input::placeholder, .container form textarea::placeholder {
    color: var(--white);
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
}

.btn {
    background-color: var(--details);
    color: var(--white);
    border-radius: 8px;
    padding: 10px;
}

.recipes {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.recipes > img {
    width: 100%;
    object-fit: cover;
}

.recipe {
    width: 300px;
    height: 250px;
    position: relative;
    border-radius: 8px;
}

.recipe img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}

.recipe .back {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)) ;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 8px;


    
}

.container form.new-recipe input, .container.new-recipe form textarea, .new-recipe select {
    width: 80%;

}

.tox-tinymce {
    width: 80%;
}

.receita {
   
    max-width: 90%;
    margin: auto;
    padding: 100px 30px;
    background-color: #000;
}

.card {
    color: #000;
    margin-top: 50px;
}

.controls {
    display: flex;
    gap: 20px;
}

.delete {
    display: inline;
}