* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}

html {
    --black: #000;
    --white: #fff;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.85);

}

.fundo {
    width: 100vw;
    height: calc(100vh - 70px);
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 70px;
    z-index: 2;
}

.background {
    width: 100vw;
    height: calc(100vh - 70px);
    object-fit: cover;
}