header {
    height: 70px;
    width: 100vw;
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}
nav {
    display: flex;
    align-items: center !important;
}
nav ul {
    display: flex;
    gap: 30px;
    margin: 0;
}

nav ul a {
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
}

nav ul a:hover {
    color: #AD00FF;
}